In [2]:
# Import the dependencies
import pandas as pd
import numpy as np
import datetime

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("Resource/rideshare_kaggle.csv")
df

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 57 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           693071 non-null  object
 1   timestamp                    693071 non-null  float64
 2   hour                         693071 non-null  int64
 3   day                          693071 non-null  int64
 4   month                        693071 non-null  int64
 5   datetime                     693071 non-null  object
 6   timezone                     693071 non-null  object
 7   source                       693071 non-null  object
 8   destination                  693071 non-null  object
 9   cab_type                     693071 non-null  object
 10  product_id                   693071 non-null  object
 11  name                         693071 non-null  object
 12  price                        637976 non-null  float64
 13  distance                     693071 non-null  float64
 14  surge_multiplier             693071 non-null  float64
 15  latitude                     693071 non-null  float64
 16  longitude                    693071 non-null  float64
 17  temperature                  693071 non-null  float64
 18  apparentTemperature          693071 non-null  float64
 19  short_summary                693071 non-null  object
 20  long_summary                 693071 non-null  object
 21  precipIntensity              693071 non-null  float64
 22  precipProbability            693071 non-null  float64
 23  humidity                     693071 non-null  float64
 24  windSpeed                    693071 non-null  float64
 25  windGust                     693071 non-null  float64
 26  windGustTime                 693071 non-null  int64
 27  visibility                   693071 non-null  float64
 28  temperatureHigh              693071 non-null  float64
 29  temperatureHighTime          693071 non-null  int64
 30  temperatureLow               693071 non-null  float64
 31  temperatureLowTime           693071 non-null  int64
 32  apparentTemperatureHigh      693071 non-null  float64
 33  apparentTemperatureHighTime  693071 non-null  int64
 34  apparentTemperatureLow       693071 non-null  float64
 35  apparentTemperatureLowTime   693071 non-null  int64
 36  icon                         693071 non-null  object
 37  dewPoint                     693071 non-null  float64
 38  pressure                     693071 non-null  float64
 39  windBearing                  693071 non-null  int64
 40  cloudCover                   693071 non-null  float64
 41  uvIndex                      693071 non-null  int64
 42  visibility.1                 693071 non-null  float64
 43  ozone                        693071 non-null  float64
 44  sunriseTime                  693071 non-null  int64
 45  sunsetTime                   693071 non-null  int64
 46  moonPhase                    693071 non-null  float64
 47  precipIntensityMax           693071 non-null  float64
 48  uvIndexTime                  693071 non-null  int64
 49  temperatureMin               693071 non-null  float64
 50  temperatureMinTime           693071 non-null  int64
 51  temperatureMax               693071 non-null  float64
 52  temperatureMaxTime           693071 non-null  int64
 53  apparentTemperatureMin       693071 non-null  float64
 54  apparentTemperatureMinTime   693071 non-null  int64
 55  apparentTemperatureMax       693071 non-null  float64
 56  apparentTemperatureMaxTime   693071 non-null  int64
dtypes: float64(29), int64(17), object(11)
memory usage: 301.4+ MB

In [8]:
# For categorical columns, replace NaN with 'Unknown'
categorical_columns = ['cab_type', 'source', 'destination', 'product_id', 'name']
df[categorical_columns] = df[categorical_columns].fillna('Unknown')

# For numeric columns, replace NaN with the median
numeric_columns = ['price', 'distance', 'temperature', 'humidity']
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].median())

In [9]:
# Convert timestamp and datetime to pandas datetime type
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['datetime'] = pd.to_datetime(df['datetime'])

# Convert latitude and longitude to float
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)

# Convert price and distance to float
df['price'] = df['price'].astype(float)
df['distance'] = df['distance'].astype(float)

In [10]:
# Normalize text columns (convert to lowercase)
df['cab_type'] = df['cab_type'].str.lower()
df['source'] = df['source'].str.lower()
df['destination'] = df['destination'].str.lower()

In [11]:
# Replace inconsistent values
df['cab_type'] = df['cab_type'].replace({'uber ': 'uber', 'lyff': 'lyft'})

In [12]:
# Convert timestamp to a specific timezone if needed
df['timestamp'] = df['timestamp'].dt.tz_localize('UTC').dt.tz_convert('America/New_York')

In [13]:
# Extract hour, day, month, etc., from 'datetime' if needed
df['hour'] = df['datetime'].dt.hour
df['day'] = df['datetime'].dt.day
df['month'] = df['datetime'].dt.month
df['weekday'] = df['datetime'].dt.weekday

In [14]:
# Check valid latitude/longitude range
df = df[(df['latitude'] >= -90) & (df['latitude'] <= 90)]
df = df[(df['longitude'] >= -180) & (df['longitude'] <= 180)]

In [15]:
# Extract day of the week (0 = Monday, 6 = Sunday)
df['day_of_week'] = df['datetime'].dt.dayofweek

# Create a weekend column (True for weekends, False for weekdays)
df['is_weekend'] = df['day_of_week'] >= 5

In [16]:
df2 = df.sample(frac=0.2, random_state=42)

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138614 entries, 441132 to 284581
Data columns (total 60 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           138614 non-null  object
 1   timestamp                    138614 non-null  datetime64[ns, America/New_York]
 2   hour                         138614 non-null  int32
 3   day                          138614 non-null  int32
 4   month                        138614 non-null  int32
 5   datetime                     138614 non-null  datetime64[ns]
 6   timezone                     138614 non-null  object
 7   source                       138614 non-null  object
 8   destination                  138614 non-null  object
 9   cab_type                     138614 non-null  object
 10  product_id                   138614 non-null  object
 11  name                         138614 non-null  object
 12  price                        138614 non-null  float64
 13  distance                     138614 non-null  float64
 14  surge_multiplier             138614 non-null  float64
 15  latitude                     138614 non-null  float64
 16  longitude                    138614 non-null  float64
 17  temperature                  138614 non-null  float64
 18  apparentTemperature          138614 non-null  float64
 19  short_summary                138614 non-null  object
 20  long_summary                 138614 non-null  object
 21  precipIntensity              138614 non-null  float64
 22  precipProbability            138614 non-null  float64
 23  humidity                     138614 non-null  float64
 24  windSpeed                    138614 non-null  float64
 25  windGust                     138614 non-null  float64
 26  windGustTime                 138614 non-null  int64
 27  visibility                   138614 non-null  float64
 28  temperatureHigh              138614 non-null  float64
 29  temperatureHighTime          138614 non-null  int64
 30  temperatureLow               138614 non-null  float64
 31  temperatureLowTime           138614 non-null  int64
 32  apparentTemperatureHigh      138614 non-null  float64
 33  apparentTemperatureHighTime  138614 non-null  int64
 34  apparentTemperatureLow       138614 non-null  float64
 35  apparentTemperatureLowTime   138614 non-null  int64
 36  icon                         138614 non-null  object
 37  dewPoint                     138614 non-null  float64
 38  pressure                     138614 non-null  float64
 39  windBearing                  138614 non-null  int64
 40  cloudCover                   138614 non-null  float64
 41  uvIndex                      138614 non-null  int64
 42  visibility.1                 138614 non-null  float64
 43  ozone                        138614 non-null  float64
 44  sunriseTime                  138614 non-null  int64
 45  sunsetTime                   138614 non-null  int64
 46  moonPhase                    138614 non-null  float64
 47  precipIntensityMax           138614 non-null  float64
 48  uvIndexTime                  138614 non-null  int64
 49  temperatureMin               138614 non-null  float64
 50  temperatureMinTime           138614 non-null  int64
 51  temperatureMax               138614 non-null  float64
 52  temperatureMaxTime           138614 non-null  int64
 53  apparentTemperatureMin       138614 non-null  float64
 54  apparentTemperatureMinTime   138614 non-null  int64
 55  apparentTemperatureMax       138614 non-null  float64
 56  apparentTemperatureMaxTime   138614 non-null  int64
 57  weekday                      138614 non-null  int32
 58  day_of_week                  138614 non-null  int32
 59  is_weekend                   138614 non-null  bool
dtypes: bool(1), datetime64[ns, America/New_York](1), datetime64[ns](1), float64(28), int32(5), int64(14), object(10)
memory usage: 60.9+ MB

In [42]:
# Extract hour, day, month, etc., from 'datetime' if needed
df['hour'] = df['datetime'].dt.hour
df['day'] = df['datetime'].dt.day
df['month'] = df['datetime'].dt.month
# Extract day of the week (1 = Monday, 7 = Sunday)
df['day_of_week'] = df['datetime'].dt.dayofweek + 1  # Adding 1 to shift to 1 = Monday, 7 = Sunday
# Verify if 'day_of_week' is correct
print(df[['datetime', 'day_of_week']].head())

             datetime  day_of_week
0 2018-12-16 09:30:07            7
1 2018-11-27 02:00:23            2
2 2018-11-28 01:00:22            3
3 2018-11-30 04:53:02            5
4 2018-11-29 03:49:20            4

In [43]:
# Create a weekend column (True for weekends, False for weekdays)
df['is_weekend'] = df['day_of_week'] >= 6  # 6 and 7 are weekends (Saturday and Sunday)
# Verify the results
print(df[['datetime', 'day_of_week', 'is_weekend']].head())

             datetime  day_of_week  is_weekend
0 2018-12-16 09:30:07            7        True
1 2018-11-27 02:00:23            2       False
2 2018-11-28 01:00:22            3       False
3 2018-11-30 04:53:02            5       False
4 2018-11-29 03:49:20            4       False

In [44]:
count = df2['cab_type']

In [45]:
print(count.value_counts())

cab_type
uber    76963
lyft    61651
Name: count, dtype: int64

In [46]:
df2.to_csv("Resource/sampled_rideshare_ver2.csv", index=False)